<%= render "shared/breadcrumbs", items: @breadcrumbs %>

<%= link_to "ストーリー詳細へ戻る", story_path(@story) %>

<h1>要素一覧</h1>

<%= link_to "要素追加", new_story_story_element_path(@story) %>

<% grouped_elements = @story_elements.group_by(&:kind) %>

<% [
  ["character", "キャラクター"],
  ["item", "アイテム"],
  ["setting", "設定"]
].each do |kind, title| %>
  <% next if grouped_elements[kind].blank? %>

  <h2><%= title %></h2>

  <ul>
    <% grouped_elements[kind].each do |e| %>
      <li>
        <%= link_to "#{e.marker.present? ? "#{e.marker}　" : ""}#{e.name}",
                    story_story_element_path(@story, e) %>
      </li>
    <% end %>
  </ul>
<% end %>
