<h1>アイデア編集</h1>

<% if @idea.errors.any? %>
  <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @idea do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :memo, "メモ" %><br>
    <%= f.text_area :memo, rows: 6 %>
  </div>

  <%= f.submit "更新する" %>
<% end %>

<%= link_to "詳細へ戻る", idea_path(@idea) %>
