<%= render "shared/breadcrumbs", items: @breadcrumbs %>

<%= link_to "詳細へ戻る", idea_path(@idea) %>

<h1>アイデア編集</h1>

<% if @idea.errors.any? %>
  <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "form", idea: @idea %>

<div style="margin-top: 32px;">
  <%= link_to "削除", idea_path(@idea),
        data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
</div>
