<%= form_with model: [@story, @story_event] do |f| %>
  <% if @story_event.errors.any? %>
    <ul>
      <% @story_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "説明" %><br>
    <%= f.text_area :body, rows: 5 %>
  </div>

  <div>
    <%= f.label :story_element_ids, "登場要素" %><br>

    <% if @story.story_elements.any? %>
      <%= f.collection_check_boxes :story_element_ids, @story.story_elements, :id,
                                   ->(el) { story_element_label(el) } do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    <% else %>
      <p>登場要素がまだありません（先に要素を作成してください）</p>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
