<%= render "shared/breadcrumbs", items: @breadcrumbs %>

<%= link_to "戻る", params[:return_to].presence || ideas_path %>

<h1>ランダム辞書ワード</h1>

<% if @words.any? %>

  <div id="ai_error" style="color: red;"></div>

  <%= form_with url: ai_generations_path, method: :post, data: { turbo_stream: true } do |f| %>

    <p style="margin-bottom: 30px;">
      <span style="display: inline-block; margin-right: 15px;"><%= @words[0].word %></span>
      <%= hidden_field_tag :word1, @words[0].word %>
      <span style="display: inline-block; margin-right: 15px;">
        <%= select_tag :word1_pos,
              options_for_select([["名詞", "noun"], ["動詞", "verb"]], @word1_pos) %>
      </span>
      <%= check_box_tag :lock_word1, "1", params[:lock_word1] == "1" %>
      固定
    </p>

    <p style="margin-bottom: 30px;">
      <span style="display: inline-block; margin-right: 15px;"><%= @words[1].word %></span>
      <%= hidden_field_tag :word2, @words[1].word %>
      <span style="display: inline-block; margin-right: 15px;">
        <%= select_tag :word2_pos,
              options_for_select([["名詞", "noun"], ["動詞", "verb"]], @word2_pos) %>
      </span>
      <%= check_box_tag :lock_word2, "1", params[:lock_word2] == "1" %>
      固定
    </p>

    <%= hidden_field_tag :return_to, params[:return_to] %>
    <%= hidden_field_tag :placeable_type, params[:placeable_type] %>
    <%= hidden_field_tag :placeable_id, params[:placeable_id] %>

    <div id="reroll_notice" style="margin-bottom: 12px;"></div>

    <div style="margin-bottom: 30px;">
      <%= f.submit "再抽選",
            formaction: random_words_pick_path,
            formmethod: :get %>
    </div>

    <div id="generate_button" style="margin-top: 0;">
      <%= f.submit "AIで生成する", data: { disable_with: "生成中..." } %>
    </div>

    <div id="ai_result" style="margin-top: 30px;"></div>
  <% end %>

<% else %>

  <p><%= @message %></p>

<% end %>
