<h1>ランダム辞書ワード</h1>

<% if @words.any? %>

  <div id="ai_error" style="color: red;"></div>
  <div id="ai_result"></div>

  <%= form_with url: ai_generations_path, method: :post, data: { turbo_stream: true } do |f| %>

    <p>
      <%= @words[0].word %>
      <%= hidden_field_tag :word1, @words[0].word %>
      <%= check_box_tag :lock_word1, "1", params[:lock_word1] == "1" %>
      固定
    </p>

    <p>
      <%= @words[1].word %>
      <%= hidden_field_tag :word2, @words[1].word %>
      <%= check_box_tag :lock_word2, "1", params[:lock_word2] == "1" %>
      固定
    </p>

    <%= hidden_field_tag :return_to, params[:return_to] %>
    <%= hidden_field_tag :placeable_type, params[:placeable_type] %>
    <%= hidden_field_tag :placeable_id, params[:placeable_id] %>

    <%= f.submit "AIで生成する", data: { disable_with: "生成中..." } %>

    <%= f.submit "再抽選",
          formaction: random_words_pick_path,
          formmethod: :get %>

  <% end %>

<% else %>

  <p><%= @message %></p>

<% end %>

<%= link_to "一覧へ戻る", ideas_path %>
